<section class="footer-section">
    <h1 class="footer-logo">LOGO</h1>

    <div class="social-networks">
        <a class="social-network-icon" href="">
            <i class="fa-brands fa-instagram"></i>
        </a>

        <a class="social-network-icon" href="">
            <i class="fa-brands fa-tiktok"></i>
        </a>

        <a class="social-network-icon" href="">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
    </div>
</section>

<section class="footer-section">

    <h3>CONTACTO</h3>

    <form class="footer-form" action="/" method="POST">
        <label for="name"></label>
        <input class="footer-input footer-name-input" type="text" id="name" maxlength="30" name="name" placeholder="Nombre">

        <label for="footer-email"></label>
        <input class="footer-input footer-email-input" type="email" id="footer-email" name="footer-email" maxlength="100" placeholder="E-mail">

        <label for="textarea"></label>
        <textarea class="footer-input" name="mensaje" id="textarea" rows="10" maxlength="40" placeholder="Escriba su mensaje"></textarea>

        <button class="footer-submit-button">Enviar</button>
    </form>
</section>